{% extends "layout.html" %}

{% block title %}
    Home - BookHub
{% endblock %}

{% block body %}
    <h1>HomePage!</h1>

    <!-- Links to other pages using bootstrap grid columns -->
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <a href="{{ url_for('books') }}">Books</a>
            </div>
            <div class="col-sm">
                <a href="{{ url_for('about') }}">About</a>
            </div>
            <div class="col-sm">
                <form action="{{ url_for('home') }}"" method="post" class="form-group">
                    <input class="form-control" name="search" placeholder="Search" required>
                    <button class="btn btn-primary">Search</button>
                </form>
            </div>
            <div class="col-sm">
                <a href="{{ url_for('signout') }}">SignOut</a>
            </div>
        </div>
    </div>


    <div class="d-flex align-content-start flex-wrap">
        {% for book in books %}
        <div class="m-auto p-2 bd-highlight">
            <span class="p-2 border border-dark rounded-pill">
                <a href="{{ url_for('book', isbn=book.isbn) }}">{{ book.title }}</a>
            </span>
        </div>
        {% endfor %}
    </div>

    <!-- <ul>
        {% for book in books %}
            <li>{{ book }}</li>
        {% endfor %}
    </ul> -->
    
{% endblock %}
