{% extends "layout.html" %}

{% block title %}
    Home - BookHub
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='homestyles.css') }}">    

{% endblock %}

{% block body %}
    <h1>HomePage!</h1>

    <!-- Links to other pages using bootstrap grid columns -->
    <div class="container">
        <div class="row">
            <div class="col-sm" >
                <a href="{{ url_for('books') }}">Books</a>
            </div>
            <div class="col-sm" >
                <a href="{{ url_for('about') }}">About</a>
            </div>
            <div class="col-sm" >
                <form action="{{ url_for('home') }}"" method="post" class="form-group">
                    <input class="form-control" name="search" placeholder="Search ISBN, Author, Title, or Publication Year" required>
                    <button class="btn btn-primary">Search</button>
                </form>
            </div>
            <div class="col-sm" >
                <a href="{{ url_for('signout') }}">SignOut</a>
            </div>
        </div>
    </div>

    <!-- Display searched books in a grid. 5x5 same size would be nice -->
    <div class="grid">
        {% for book in books %}
        <div class="grid-item">
            <a href="{{ url_for('book', isbn=book.isbn) }}">{{ book.title }}</a>
        </div>
        {% endfor %}
    </div>

    <!-- <ul>
        {% for book in books %}
            <li>{{ book }}</li>
        {% endfor %}
    </ul> -->
    
{% endblock %}
