{% extends "layout.html" %}

{% block title %}
    Register - BookHub
{% endblock %}

{% block body %}
    <h1>Welcome to BookHub</h1>
    <h3>Register!</h3>

    <form action="{{ url_for('home') }}" method="post" class="form-group">
        <input class="form-control" name="name" placeholder="Name" required>
        <input class="form-control" name="email" placeholder="Email" required>
        <input class="form-control" name="username" placeholder="Username" required>
        <input class="form-control" name="password" type="password" placeholder="Password" required>
        <button class="btn btn-primary">Sign Up</button>
    </form>

{% endblock %}